doctype html
html(lang="ja")
  head
    meta(content="text/html", charset="UTF-8")
    meta(name="format-detection" content="telephone=no")
    title 梱包チェック
    script(src="/lib/zepto.min.js")
    script(src="/lib/underscore-min.js")
    link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css")
    link(rel="stylesheet", href="/assets/style.css", type="text/css")
    link(rel="stylesheet" href="/assets/icomoon.css", type="text/css")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


  body
    #container
      header#actionbar-bg
      header#actionbar
        h1.header_page_name 梱包チェック
      #page
        #sub_header
          a.back_to_menu(href="#")
            span.icon-arrow-left
            | メニューに戻る
          span.login_member
            span.icon-user
            strong ログイン: 
            span 誰々さん
          
          .clear
        #page_contents
          .konpou_check_contents.card
            p.action_label 注文番号をスキャンしてください
            ul
              li
                input.scan_code.brdr(id="codescan" type="text" placeholder="0123456789")
              li
                p.num_count 1/1 個口目
            ul.submit_buttons
              li
                button.button_clear.btn(id="clear" type="reset")
                  span.icon-trash
                  | クリア
              li
                button.button_ship.btn(id="ship" type="button")
                  span.icon-emoji-happy
                  |出荷
          .hor-line
        

          .picking_list.card
            table
              thead
                tr.table_label
                  th
                  th.th_label_code 商品コード
                  th.th_label_content 数
              tbody.list_body
                tr
                  td.td_num 1 
                  td.td_code
                      input(id="JAN_CD_01" type="text" name="JAN_CD_01")
                  td.td_content
                      input(id="QNTY_01" type="number" name="JQNTY_01")
                //リスト繰り返し
                tr
                  td.td_num 1
                  td.td_code
                      input(id="JAN_CD_01" type="text" name="JAN_CD_01")
                  td.td_content
                      input(id="QNTY_01" type="number" name="JQNTY_01")
                  
              
                    
      
    
