//div
//  border 1px solid green

*
  box-sizing border-box
  font-family 'Helvetica', 'Helvetica Neue'

$color-font = #555459
$color-btn-border = #C7CACD
$color-hands-green = #00712F
$color-hands-lime = #66AE3D
$color-hands-red = #9D0A0E
$color-hands-blue = #008DD5
$color-hands-orange = #E38D00

.clear
  clear both

body
  width 100%
  left 0
  top 0
  background #f9f9f9

li
  display inline-block
  //margin 1rem


#container
  width 100%
  //min-width 1160px
  //max-width 1160px
  //min-height 600px
  min-width 320px
  margin 0 auto
  padding 0
  position absolute
  text-align center
  left 0
  top 0
  background #f9f9f9

//icon ----------------------------------------------------------------//


span[class^="icon-"]
  margin-right 0.25em
  line-height 2em
  vertical-align middle

//アクションメニュー風ヘッダー ----------------------------------------------------------------//

#actionbar
  height 55px
  width 100%
  background #ffffff
  box-shadow 0 1px 4px rgba(0,0,0,.15)
  position fixed
  //position absolute
  top 0
  left 0
  right 0
  z-index 100
  text-align center

#actionbar-bg//#actionbarを固定するための背景
  height 55px
  width 100%
  background #f9f9f9

.header_page_name
  max-width 174px
  font-size 1.2rem
  font-weight bold
  margin 14px auto
  color $color-font


//サブヘッダー ----------------------------------------------------------------//

#sub_header
  //height 50px
  width 100%
  top 55px//#actionbarの分を下げる
  padding 10px 0 20px

.back_to_menu
  border 1px solid #e8e8e8
  box-shadow 0 1px 0 rgba(0,0,0,.15)
  padding 4px 10px
  border-radius 2px
  //margin 0 10px
  float left
  color #555555
  &:link
    font-size 0.7rem
    color #555555
    text-decoration none
  &:hover
    opacity 0.7


.login_member
  font-size 0.8rem
  font-weight bold
  color #9e9ea6
  float right
  vertical-align middle

#page
  //min-height 568px
  padding 8px 15px 0

//業務カード ----------------------------------------------------------------//

.action_label
  width 100%
  margin 0 auto 1.5rem
  //padding 0 30px
  font-size 1.5rem
  color $color-font

.card
  background #ffffff
  border 1px solid #e8e8e8
  box-shadow 0 1px 0 rgba(0,0,0,.15)
  border-radius .25rem
  margin 0 auto 1.5rem
  text-align center
  padding 1.5rem


.scan_code
  padding 10px 20px
  border 1px solid #e8e8e8
  border-radius .25rem

p.num_count
  text-align right
  font-size 0.9rem
  font-weight bold
  color #9e9ea6
  float right
  line-height 1.0rem
  padding 0 1.0rem
  margin-top 10px

.hor-line
  height 1px
  border-bottom 1px solid #e8e8e8
  margin-bottom 1.5rem


//inputの装飾 ---------------------------------//

input
    width 100%
    border none

.btn
    min-width 100px
    padding 7px 13px 8px
    font-size 15px
    font-weight bold
    background #fbfbfa
    border 1px solid $color-btn-border
    border-radius .25rem
    margin 5px
    color $color-font
    display inline-block
    line-height 1rem


.brdr
  padding 10px 20px
  border 1px solid #e8e8e8
  border-radius .25rem
  &:active
    border 1px solid $color-hands-green

.button_clear
  color #FF3B30

.button_ship
  color $color-hands-blue

//tableの装飾 ----------------------------------------------------------------//

.picking_list
  table
    width 100%
    line-height 1.3rem

//.table_label

.th_label_code,.th_label_content
  padding 0 0.5rem 0.8rem
  font-size 0.9rem
  font-weight bold
  color #9e9ea6

.td_code,.td_num,.td_content
  width 25%
  padding 0.8rem 0.5rem
  text-align left
  vertical-align top
  color #333
  //background-color #eee
  border 1px solid #b9b9b9

.td_num
  width 10%
  font-weight bold
  color #9e9ea6
  border-top-style hidden
  border-left-style hidden
  border-bottom-style hidden

.td_code
  width 70%

.td_content
  width 20%
  text-align right
  border-left double $color-btn-border

.list_body
  width 120px
  padding 7px 13px 8px
  font-size 15px
  font-weight bold
  border 1px solid $color-btn-border
  border-radius .25rem
  margin 5px
  width 160px
  color $color-font
